    /* global color */
    
    .global-color {
        color: tomato;
    }
    
    .global-back {
        background-color: tomato;
    }
    /* global color ends here */
    /* nav section stars here */
    
    .Nav {
        font-family: 'Cinzel', serif;
        font-weight: 20px;
    }
    
    .Button-reg {
        height: 40px;
        width: 120px;
    }